<section class="bg-white dark:bg-gray-900" >

    <div class="px-4 pt-32 mx-auto sm:max-w-xl md:max-w-full lg:max-w-screen-xl md:px-24 lg:px-8 grid grid-cols-2 grid-rows-2 gap-8 " >
        <div class="py-10 bg-primary-100 rounded-sm flex items-center justify-center flex-col  cursor-pointer" routerLink="/categories" >
            <i class="fa-regular fa-list-dropdown"></i>
            <h1 class="font-semibold text-3xl leading-tight text-gray-900" >Categorie</h1>

            <p>Manage categorie</p>
        </div>





        <div class="py-10 bg-primary-100 rounded-sm flex items-center justify-center flex-col  " routerLink="/posts" >
            <h1 class="font-semibold text-3xl leading-tight text-gray-900" >Posts</h1>

            <p>Manage Post</p>


        </div>
        <div class="py-10 bg-primary-100 rounded-sm flex items-center justify-center flex-col " >

            <h1 class="font-semibold text-3xl leading-tight text-gray-900" >Categorie</h1>

            <p>Manage categorie</p>

        </div>
        <div class="py-10 bg-primary-100 rounded-sm flex items-center justify-center flex-col " >

            <h1 class="font-semibold text-3xl leading-tight text-gray-900" >Categorie</h1>

            <p>Manage categorie</p>

        </div>
    </div>

</section>